.container_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar_container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    height: 76px;
    border-radius: 30px;
    padding: 16px 30px;
    transition: all 0.5s linear;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.navbar_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav_links{
    flex-grow: 0;
}
.nav_anchor{
    font-weight: 500;
    font-size: 16px;
    color: rgb(79, 86, 98);
    position: relative;
    transition: all 0.5s linear;
}
.nav_anchor::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(108, 82, 238);
    transition: all 0.3s linear;
}
.nav_anchor:hover{
    color: rgb(108, 82, 238);
}
.nav_anchor:hover::after{
    width: 100%;
}
.nav_social{
    cursor: pointer;
}
.combine_platfrom_wrapper{
    display: none;
}
.combine_platfrom_show{
    width: 337px;
    margin-left: 20px;
    transform: translateX(0);
    opacity: 1;
}
.com_pla_btn{
    height: 49px;
    max-width: 189px;
    min-width: 120px;
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s linear;
    /* border-radius:7px; */
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(108, 82, 238);
}
.com_pla_btn:hover{
    background-color: rgb(149, 94, 252);
}
/* ========== show classes on scroll effect ================  */
.show{
    background-color: rgba(55, 49, 69, 0.8);
    transition: all 0.5s linear;
}
.hide {
    transform: translateY(-70px);
    transition: all 0.5s linear;
}
.bg_trans{
    background-color: transparent;
    transition: all 0.5s linear;
}
.color_white{
    color: rgb(255, 255, 255);
    transition: all 0.5s linear;
}
.height_nav{
    height: 50px;
    transition: all 0.5s linear;
}

.mobileView{}


@media (min-width : 768px) {
    .hamburger{
        display: none;
    }
}